#top-container {
    background-color: #4E2A84;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}
.error {
    background-color: red;
    color: yellow;
}

#search-container, #footer-container {
	text-align: center;
}

#homeInfoButton {
	border-color: transparent;
	color: #4E2A84;
}