#top-container {
    background-color: #4E2A84;
    color: white;
    text-align: center;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.error {
    background-color: red;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

#search-container, #footer-container {
	text-align: center;
}

#homeInfoButton {
	border-color: transparent;
	color: #4E2A84;
}

#helpButton {
	color: black;
}

#appTitle {
	margin-bottom: 0;
	font-weight: 900;
}

/* override placeholder color */
::ng-deep .mat-form-field-placeholder{
  color: #4E2A84;
}

