#top-container {
  background-color: #4E2A84;
  color: white;
  text-align: center;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.error {
  background-color: red;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

#search-container,
#footer-container {
  text-align: center;
}



#homeInfoButton {
  border-color: transparent;
  color: #4E2A84;
  margin-bottom: 2%;
}

#helpButton {
  color: black;
}

#storyAccordians {
    padding-bottom: 2.5%;
}

#issues-data {
  border: 20px;
  border-color: black;
  margin-left: 400px;
  padding: 2em;
  text-align: left;
  font-size: 16px;
}

#issues-data-centered {
  border: 20px;
  border-color: black;
}

form {

  margin-left: 400px;
  padding: 1em;
}

h1 {
  /* Set "my-sec-counter" to 0 */
  counter-reset: my-sec-counter;
}

#buttons {
  float: left;
  padding: 1em;
  overflow: hidden;
}

#issue_title {

  margin: 0 auto;
  margin-top: 25px;
  padding: none;
  border: 10px;
  border-color: dimgray;
}

#repolist {
  background-color: #4E2A84;
  border: 3px;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.ititle:before {
  /* Increment "my-sec-counter" by 1 */
  counter-increment: my-sec-counter;
  content: "Section " counter(my-sec-counter) ". ";
}

.title {

  font-size: 20px;
}

.ititle {


  text-align: left;
  font-weight: bold;
}

.ibody {

  font-size: 12px;
}

#appTitle {
  font-weight: 900;
  font-size: 36px;
}


.repo_description, .repo_name {
  margin-top: 3.5%;
  font-weight: 900;
  color: #4E2A84;
  font-size: 36px;
  margin-bottom: 3.5%;
  text-align: center;
}

.repo_name {
    color: black;
}



/* override placeholder color */

::ng-deep .mat-form-field-placeholder {
  color: #4E2A84;
}
